/.obsidian
/.vscode
/MDK-ARM/.vscode
/MDK-ARM/AUTO_SAIL
/MDK-ARM/DebugConfig
/MDK-ARM/RTE
/Test/IRM_IT/MDK-ARM/.vscode
/Test/IRM_IT/MDK-ARM/DebugConfig
/Test/IRM_IT/MDK-ARM/RTE
/Test/IRM_IT/MDK-ARM/IRM_IT
/Test/IRM_SCAN/MDK-ARM/.vscode
/Test/IRM_SCAN/MDK-ARM/DebugConfig
/Test/IRM_SCAN/MDK-ARM/RTE
/Test/IRM_SCAN/MDK-ARM/IRM_SCAN
/MDK-ARM/AUTO_SAIL.uvguix.Iris
